fastapi[all]

# Database & ORM
sqlalchemy
psycopg2-binary # PostgreSQL driver
google-cloud-storage
google-cloud-documentai
google-cloud-aiplatform
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
PyMuPDF
gunicorn
cloud-sql-python-connector[pg8000]
pg8000